.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#map {
  height: calc(100vh - 60px);
}

#pano {
  width: 200px;
  height: 200px;
}

#navbar {
  background-color: rgb(20, 19, 19);
  color: aliceblue;
  height: 60px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

#navbar h1 {
  height: 60px;
  line-height: 60px;
  margin: auto;
  display: inline-block;
  text-align: center;
  width: fit-content;
}

#toggle-nav {
  font-size: 25px;
  display: inline-block;
  width: 50px;
  height: 60px;
  text-align: center;
  cursor: pointer;
}

#toggle-nav span {
  line-height: 60px;
}

#sidebar {
  background-color: rgba(255, 255, 255, 0.829);
  position: absolute;
  left: -400px;
  z-index: 100;
  width: 325px;
  max-width: 100%;
  height: calc(100vh - 60px);
  padding-top: 15px;
  box-sizing: border-box;
  transition: all 0.4s;
}

#sidebar label {
  margin-left: 40px;
  font-size: 16px;
  font-weight: 550
}

#sidebar label>input:hover {
  transition: all 0.5s
}

#sidebar label>input:hover {
  box-shadow: 0 0 2px 1px rgba(35, 37, 37, 0.411);
}

#side-list {
  list-style-type: none;
  height: calc(100vh - 130px);
  overflow: auto;
}

#side-list li {
  cursor: pointer;
  transition: all 0.3s;
}

#side-list li:hover {
  box-shadow: -3px 0 0 0 rgb(241, 12, 4);
  text-shadow: 4px 4px 3px rgba(39, 44, 43, 0.438);
}

@media screen and (max-width: 400px) {
  #navbar h1 {
    font-size: 20px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
